server:
  port: 9000

spring:
  application:
    name: auth-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

# Expose standard endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info
# Issuer used by resource servers / gateway
spring:
  security:
    oauth2:
      authorizationserver:
        issuer: http://localhost:9000
